src/main/webapp/VAADIN/widgetsets/
src/main/webapp/VAADIN/gwt-unitCache/
.idea/artifacts/
.idea/libraries/
/.idea/workspace.xml
hotspot.log
target/
classes/
/var
pom.xml.versionsBackup
test-output/
/atlassian-ide-plugin.xml
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
/pom.xml.save
/1.txt
/target
/build.log
.bpmn
