src/main/webapp/VAADIN/widgetsets/
src/main/webapp/VAADIN/gwt-unitCache/
.idea/artifacts/
.idea/libraries/
/.idea/workspace.xml
hotspot.log
target/
/var
pom.xml.versionsBackup
test-output/
*~
/pom.xml.save
/1.txt
/build.log
.bpmn
*.jasper
