//@import "default";
// @import "flat";
// @import "flat-dark";
// @import "facebook";
//@import "metro";
// @import "dark";
// @import "blueprint";
@import "extremeassist";
@import "layout/menu";
@import "layout/base";
@import "components/tokenfield";
@import "components/filtertablestate";

@include v-font(fontello, '../../../../exta-valo/fonts/fontello/fontello');

.exta-valo {
  @include valo;

  @include exta-menu;
  @include exta-base-view;
  @include exta-tokenfield;
  @include exta-filtertablestate;

  $bg-lightness: if(color-luminance($v-app-background-color) < 10, 15%, -70%);
  $bg: $valo-menu-background-color or scale-color($v-app-background-color, $lightness: $bg-lightness);
  $font-color: valo-font-color($bg, 0.5);

  .login-view {
    @include background(radial-gradient(circle at 50% 50%, $v-app-background-color, $bg));

    @include valo-animate-in-fade;

    .v-panel-caption {
      color: $v-selection-color;
      font-size: round($v-font-size * 1.2);
    }
  }

  // Контейнер, элементы которого заключены в рамку
  .bordered-items {
    .v-label {
      border-radius: 3px;

      border: 2px solid rgba(51, 50, 49, 0.07);
      //box-shadow: 0 0 0 2px rgba(51, 50, 49, 0.07);

      padding: 2px;
    }
  }

  .v-customcomponent-bordered-component {
    border-radius: 6px;
    border: 2px solid rgba(51, 50, 49, 0.07);
    padding: 4px;
  }

  .light {
    .v-customcomponent-bordered-component {
      border: 0;
    }
  }

  .exceptionStackTraceBox {
    //font-size: 14px;
    //line-height: 18px;
    height: 400px;
    //width: 600px;
    //padding: 10px;
    overflow: scroll;
  }

  .v-table-table {

    font-size: round($v-font-size * 0.86);

    .v-button-link {
      padding-left: 0;
      padding-right: 0;
    }

  }

  $row-highlight-yellow-bg: #ffffe0;
  .v-table-row.v-table-row-highlight-yellow {
    background-color: $row-highlight-yellow-bg;
  }
  .v-table-row-odd.v-table-row-highlight-yellow {
    background-color: scale-color($row-highlight-yellow-bg, $lightness: -5%);
  }

  $row-highlight-red-bg: #FF6347;
  .v-table-row.v-table-row-highlight-red {
    background-color: $row-highlight-red-bg;
  }
  .v-table-row-odd.v-table-row-highlight-red {
    background-color: scale-color($row-highlight-red-bg, $lightness: -5%);
  }

  .v-table-row.v-table-row-archived {
    text-decoration: line-through;
  }
  .v-table-row-odd.v-table-row-archived {
    text-decoration: line-through;
  }

  .view-title {
    @extend .h2;
    font-size: round($v-font-size * 1.125);
  }

  .v-component-group {
    .v-caption {
      padding-right: 5px;
    }
  }

  @include valo-formlayout-margin($v-layout-margin-top);

  .inline-datefield {
    .v-datefield-button {
      left: 0 !important;
      right: auto !important;
    }
  }

  .drop-area {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    padding: 10px;
    border: 5px dashed #a4a4a2;
  }

  .drop-area .v-label {
    color: #919083;
    //    font-weight: bold;
    //    font-size: 17px;
  }

  .exta-large-icon {
    .v-icon {
      font-size: $v-font-size--large;
    }
  }
  .v-caption-exta-large-icon {
    .v-icon {
      font-size: $v-font-size--large;
    }
  }

  .exta-huge-icon {
    .v-icon {
      font-size: $v-font-size--huge;
    }
  }
  .v-caption-exta-huge-icon {
    .v-icon {
      font-size: $v-font-size--huge;
    }
  }

  .v-itemlayout-slot {
    text-align: left;
  }

  .v-formlayout-contentcell {

    > .v-label-h2,
    > .v-label-h3,
    > .v-label-h4 {
      padding-left: $v-layout-margin-right;
    }

    > .ea-embedded-slider {
      padding-bottom: 20px;
      padding-top: 10px;
      padding-right: 10px;
    }
  }

  // Стили документов кредитной программы
  // Обязательный документ
  span.ea-credit-doc-req {
    font-weight: bold;
  }
  // Дополнительный документ
  span.ea-credit-doc-add {
    font-style: italic;
  }

  // Стиль вспомогательного компонента для подгонки комбобокса по размеру текста
  .ea-widthfittin-label {
    padding-left: ceil($v-unit-size/6) + ceil($v-textfield-border-radius/3);
    padding-right: round($v-unit-size * 1.2);
  }
  .v-slot-ea-widthfittin-label {
    height: 0;
    visibility: collapse;
  }

  // Подсвечиваем статус продуктов в продаже
  .v-grid-cell.product-agreed-highlight {
    background: forestgreen;
  }
  .v-grid-cell.product-rejected-highlight {
    background: #FF6347;
  }

  .v-contextmenu.w-filtertablestate-layout.v-layout.v-vertical {
    max-height: 400px;
    overflow-y: scroll;
  }
}


