@mixin icon-font-decl {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  line-height: 1;
  margin-right: .4em;
  vertical-align: 1px;
}

@mixin icons-fontello {

  @font-face {
    font-family: 'fontello';
    src: url(fontello.eot);
    src: url(fontello.eot?#iefix) format('embedded-opentype'), url(fontello.woff) format('woff'), url(fontello.ttf) format('truetype'), url(fontello.svg#fontello) format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"] > .v-button-wrap:before,
  [class*=" icon-"] > .v-button-wrap:before,
  [class^="icon-"].v-nativebutton:before,
  [class*=" icon-"].v-nativebutton:before,
  [class^="icon-"].v-label:before,
  [class*=" icon-"].v-label:before,
  [class*="-icon-"].v-menubar-menuitem:before {
    @include icon-font-decl;
  }

  [class^="icon-"] > .v-button-wrap:before,
  [class*=" icon-"] > .v-button-wrap:before,
  [class^="icon-"].v-nativebutton:before,
  [class*=" icon-"].v-nativebutton:before {
    margin: 0;
    margin-left: -.3em;
  }

  [class^="icon-"] > span > .v-button-caption,
  [class^="icon-"] > .v-nativebutton-caption,
  [class*=" icon-"] > span > .v-button-caption,
  [class*=" icon-"] > .v-nativebutton-caption {
    margin-left: .3em;
  }

  @include icon(sitemap, '\e82e');
  @include icon(clock, '\e8d4');
  @include icon(article-alt, '\e8dc');
  @include icon(basket, '\e8dd');
  @include icon(flow-tree, '\e8ce');
  @include icon(grid, '\e8b8');
  @include icon(inbox-1, '\e8bb');
  @include icon(inbox-alt, '\e8ba');
  @include icon(inbox, '\e8a9');
  @include icon(download, '\e8aa');
  @include icon(upload, '\e8ab');
  @include icon(download-outline, '\e8ac');
  @include icon(download-1, '\e8ad');
  @include icon(upload-outline, '\e8ae');
  @include icon(upload-1, '\e8af');
  @include icon(upload-cloud-outline, '\e8b0');
  @include icon(upload-cloud, '\e8b1');
  @include icon(money-1, '\e890');
  @include icon(info-1, '\e836');
  @include icon(home, '\e804');
  @include icon(umbrella, '\e87b');
  @include icon(umbrella-1, '\e8a8');
  @include icon(check, '\e822');
  @include icon(tools, '\e840');
  @include icon(cog-1, '\e83f');
  @include icon(cog, '\e818');
  @include icon(attention-1, '\e83b');
  @include icon(attention-filled, '\e864');
  @include icon(attention, '\e810');
  @include icon(flash-2, '\e87f');
  @include icon(flash, '\e841');
  @include icon(flash-1, '\e86e');
  @include icon(cog-alt, '\e819');
  @include icon(mail-1, '\e880');
  @include icon(edit-2, '\e888');
  @include icon(edit, '\e80c');
  @include icon(ok-2, '\e879');
  @include icon(ok, '\e802');
  @include icon(check-1, '\e832');
  @include icon(ok-3, '\e886');
  @include icon(cancel-4, '\e887');
  @include icon(cancel-1, '\e833');
  @include icon(cancel-3, '\e87a');
  @include icon(cancel, '\e803');
  @include icon(help-1, '\e834');
  @include icon(attention-circled, '\e811');
  @include icon(trash, '\e8a0');
  @include icon(search-3, '\e89f');
  @include icon(cog-2, '\e8a2');
  @include icon(user-6, '\e895');
  @include icon(trash-3, '\e8a6');
  @include icon(note, '\e8a1');
  @include icon(torso, '\e898');
  @include icon(money-2, '\e8a3');
  @include icon(vcard, '\e868');
  @include icon(chart-alt-outline, '\e871');
  @include icon(chart-alt, '\e872');
  @include icon(chart-bar-outline, '\e873');
  @include icon(chart-outline, '\e86f');
  @include icon(chart-pie-outline, '\e875');
  @include icon(chart-pie-1, '\e876');
  @include icon(contacts, '\e867');
  @include icon(qrcode-1, '\e89c');
  @include icon(doc-add, '\e869');
  @include icon(doc-remove, '\e86a');
  @include icon(doc-1, '\e86b');
  @include icon(edit-1, '\e86c');
  @include icon(flash-outline, '\e86d');
  @include icon(users-outline, '\e84d');
  @include icon(users-2, '\e84e');
  @include icon(home-outline, '\e85d');
  @include icon(home-1, '\e85e');
  @include icon(info-outline, '\e85b');
  @include icon(info-2, '\e85c');
  @include icon(attention-2, '\e863');
  @include icon(group-circled, '\e897');
  @include icon(group, '\e896');
  @include icon(lock-filled, '\e85f');
  @include icon(lock-open-filled, '\e860');
  @include icon(mail, '\e848');
  @include icon(minus-outline, '\e859');
  @include icon(minus, '\e85a');
  @include icon(pin-outline, '\e861');
  @include icon(pin, '\e862');
  @include icon(doc-new, '\e899');
  @include icon(edit-3, '\e89a');
  @include icon(plus-outline, '\e857');
  @include icon(plus, '\e858');
  @include icon(barcode-1, '\e89d');
  @include icon(filter-1, '\e89e');
  @include icon(star, '\e849');
  @include icon(star-filled, '\e84a');
  @include icon(ok-outline, '\e853');
  @include icon(ok-1, '\e854');
  @include icon(cancel-outline, '\e855');
  @include icon(cancel-2, '\e856');
  @include icon(calendar-1, '\e89b');
  @include icon(user-add-outline, '\e84f');
  @include icon(user-add-1, '\e850');
  @include icon(user-delete-outline, '\e851');
  @include icon(user-delete, '\e852');
  @include icon(user-outline, '\e84b');
  @include icon(user-2, '\e84c');
  @include icon(warning-empty, '\e865');
  @include icon(warning, '\e866');
  @include icon(search-outline, '\e846');
  @include icon(search, '\e847');
  @include icon(user-add, '\e831');
  @include icon(help-circled, '\e806');
  @include icon(help-circled-1, '\e835');
  @include icon(info-circled, '\e807');
  @include icon(info-circled-1, '\e837');
  @include icon(print-2, '\e889');
  @include icon(print-1, '\e838');
  @include icon(print, '\e80d');
  @include icon(vcard-1, '\e839');
  @include icon(trash-4, '\e8a7');
  @include icon(trash-1, '\e8a4');
  @include icon(archive, '\e83e');
  @include icon(chart-pie, '\e842');
  @include icon(arrows-cw, '\e81d');
  @include icon(list-alt, '\e821');
  @include icon(qrcode, '\e820');
  @include icon(barcode, '\e81f');
  @include icon(chart-pie-3, '\e88e');
  @include icon(chart-pie-2, '\e87d');
  @include icon(chart-pie-alt, '\e87e');
  @include icon(user-5, '\e891');
  @include icon(user-male, '\e892');
  @include icon(user-female, '\e893');
  @include icon(users-3, '\e894');
  @include icon(trash-2, '\e8a5');
  @include icon(check-empty, '\e823');
  @include icon(filter0, '\e825');
  @include icon(table, '\e81e');
  @include icon(money, '\e826');
  @include icon(sitemap, '\e82e');
  @include icon(doc-text, '\e813');
  @include icon(folder-empty, '\e816');
  @include icon(folder-open-empty, '\e817');
  @include icon(help, '\e805');
  @include icon(info, '\e808');
  @include icon(attention-alt, '\e80f');
  @include icon(calendar-empty, '\e81c');
  @include icon(doc-inv, '\e814');
  @include icon(doc-text-inv, '\e815');
  @include icon(sort-name-up, '\e82a');
  @include icon(sort-name-down, '\e82b');
  @include icon(sort-alt-up, '\e828');
  @include icon(sort-alt-down, '\e829');
  @include icon(sort-number-up, '\e82c');
  @include icon(sort-number-down, '\e82d');
  @include icon(picture, '\e878');
  @include icon(award, '\e88b');
  @include icon(user, '\e800');
  @include icon(user-1, '\e82f');
  @include icon(user-4, '\e883');
  @include icon(user-3, '\e877');
  @include icon(users, '\e801');
  @include icon(users-1, '\e830');
  @include icon(user-woman, '\e884');
  @include icon(user-pair, '\e885');
  @include icon(alert, '\e83c');
  @include icon(dollar, '\e88f');
  @include icon(doc, '\e812');
  @include icon(calendar, '\e81b');
  @include icon(chart-1, '\e88c');
  @include icon(chart, '\e870');
  @include icon(chart-line, '\e843');
  @include icon(chart-bar, '\e824');
  @include icon(chart-bar-4, '\e88d');
  @include icon(chart-bar-1, '\e844');
  @include icon(chart-bar-2, '\e874');
  @include icon(chart-bar-3, '\e87c');
  @include icon(attach, '\e809');
  @include icon(newspaper, '\e83d');
  @include icon(search-1, '\e881');
  @include icon(search-2, '\e882');
  @include icon(lock, '\e80b');
  @include icon(lock-open, '\e80a');
  @include icon(bell, '\e80e');
  @include icon(bell-1, '\e83a');
  @include icon(wrench, '\e81a');
  @include icon(wrench-1, '\e88a');
  @include icon(chart-area, '\e845');
  @include icon(truck, '\e827');

}