
.icon-money-1:before { content: '\e890'; } /* '' */
.icon-info-1:before { content: '\e836'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-umbrella:before { content: '\e87b'; } /* '' */
.icon-umbrella-1:before { content: '\e8a8'; } /* '' */
.icon-check:before { content: '\e822'; } /* '' */
.icon-tools:before { content: '\e840'; } /* '' */
.icon-cog:before { content: '\e818'; } /* '' */
.icon-cog-1:before { content: '\e83f'; } /* '' */
.icon-attention:before { content: '\e810'; } /* '' */
.icon-attention-filled:before { content: '\e864'; } /* '' */
.icon-attention-1:before { content: '\e83b'; } /* '' */
.icon-flash-2:before { content: '\e87f'; } /* '' */
.icon-flash-1:before { content: '\e86e'; } /* '' */
.icon-flash:before { content: '\e841'; } /* '' */
.icon-cog-alt:before { content: '\e819'; } /* '' */
.icon-mail-1:before { content: '\e880'; } /* '' */
.icon-edit:before { content: '\e80c'; } /* '' */
.icon-edit-2:before { content: '\e888'; } /* '' */
.icon-check-1:before { content: '\e832'; } /* '' */
.icon-ok-2:before { content: '\e879'; } /* '' */
.icon-ok-3:before { content: '\e886'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-cancel-1:before { content: '\e833'; } /* '' */
.icon-cancel-4:before { content: '\e887'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-cancel-3:before { content: '\e87a'; } /* '' */
.icon-help-1:before { content: '\e834'; } /* '' */
.icon-attention-circled:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e8a0'; } /* '' */
.icon-search-3:before { content: '\e89f'; } /* '' */
.icon-cog-2:before { content: '\e8a2'; } /* '' */
.icon-user-6:before { content: '\e895'; } /* '' */
.icon-trash-3:before { content: '\e8a6'; } /* '' */
.icon-note:before { content: '\e8a1'; } /* '' */
.icon-torso:before { content: '\e898'; } /* '' */
.icon-money-2:before { content: '\e8a3'; } /* '' */
.icon-vcard:before { content: '\e868'; } /* '' */
.icon-chart-alt-outline:before { content: '\e871'; } /* '' */
.icon-chart-alt:before { content: '\e872'; } /* '' */
.icon-chart-bar-outline:before { content: '\e873'; } /* '' */
.icon-chart-outline:before { content: '\e86f'; } /* '' */
.icon-chart-pie-outline:before { content: '\e875'; } /* '' */
.icon-chart-pie-1:before { content: '\e876'; } /* '' */
.icon-contacts:before { content: '\e867'; } /* '' */
.icon-qrcode-1:before { content: '\e89c'; } /* '' */
.icon-doc-add:before { content: '\e869'; } /* '' */
.icon-doc-remove:before { content: '\e86a'; } /* '' */
.icon-doc-1:before { content: '\e86b'; } /* '' */
.icon-edit-1:before { content: '\e86c'; } /* '' */
.icon-flash-outline:before { content: '\e86d'; } /* '' */
.icon-users-outline:before { content: '\e84d'; } /* '' */
.icon-users-2:before { content: '\e84e'; } /* '' */
.icon-home-outline:before { content: '\e85d'; } /* '' */
.icon-home-1:before { content: '\e85e'; } /* '' */
.icon-info-outline:before { content: '\e85b'; } /* '' */
.icon-info-2:before { content: '\e85c'; } /* '' */
.icon-attention-2:before { content: '\e863'; } /* '' */
.icon-group-circled:before { content: '\e897'; } /* '' */
.icon-group:before { content: '\e896'; } /* '' */
.icon-lock-filled:before { content: '\e85f'; } /* '' */
.icon-lock-open-filled:before { content: '\e860'; } /* '' */
.icon-mail:before { content: '\e848'; } /* '' */
.icon-minus-outline:before { content: '\e859'; } /* '' */
.icon-minus:before { content: '\e85a'; } /* '' */
.icon-pin-outline:before { content: '\e861'; } /* '' */
.icon-pin:before { content: '\e862'; } /* '' */
.icon-doc-new:before { content: '\e899'; } /* '' */
.icon-edit-3:before { content: '\e89a'; } /* '' */
.icon-plus-outline:before { content: '\e857'; } /* '' */
.icon-plus:before { content: '\e858'; } /* '' */
.icon-barcode-1:before { content: '\e89d'; } /* '' */
.icon-filter-1:before { content: '\e89e'; } /* '' */
.icon-star:before { content: '\e849'; } /* '' */
.icon-star-filled:before { content: '\e84a'; } /* '' */
.icon-ok-outline:before { content: '\e853'; } /* '' */
.icon-ok-1:before { content: '\e854'; } /* '' */
.icon-cancel-outline:before { content: '\e855'; } /* '' */
.icon-cancel-2:before { content: '\e856'; } /* '' */
.icon-calendar-1:before { content: '\e89b'; } /* '' */
.icon-user-add-outline:before { content: '\e84f'; } /* '' */
.icon-user-add-1:before { content: '\e850'; } /* '' */
.icon-user-delete-outline:before { content: '\e851'; } /* '' */
.icon-user-delete:before { content: '\e852'; } /* '' */
.icon-user-outline:before { content: '\e84b'; } /* '' */
.icon-user-2:before { content: '\e84c'; } /* '' */
.icon-warning-empty:before { content: '\e865'; } /* '' */
.icon-warning:before { content: '\e866'; } /* '' */
.icon-search-outline:before { content: '\e846'; } /* '' */
.icon-search:before { content: '\e847'; } /* '' */
.icon-user-add:before { content: '\e831'; } /* '' */
.icon-help-circled:before { content: '\e806'; } /* '' */
.icon-help-circled-1:before { content: '\e835'; } /* '' */
.icon-info-circled:before { content: '\e807'; } /* '' */
.icon-info-circled-1:before { content: '\e837'; } /* '' */
.icon-print-2:before { content: '\e889'; } /* '' */
.icon-print:before { content: '\e80d'; } /* '' */
.icon-print-1:before { content: '\e838'; } /* '' */
.icon-vcard-1:before { content: '\e839'; } /* '' */
.icon-trash-4:before { content: '\e8a7'; } /* '' */
.icon-trash-1:before { content: '\e8a4'; } /* '' */
.icon-archive:before { content: '\e83e'; } /* '' */
.icon-chart-pie:before { content: '\e842'; } /* '' */
.icon-arrows-cw:before { content: '\e81d'; } /* '' */
.icon-list-alt:before { content: '\e821'; } /* '' */
.icon-qrcode:before { content: '\e820'; } /* '' */
.icon-barcode:before { content: '\e81f'; } /* '' */
.icon-chart-pie-2:before { content: '\e87d'; } /* '' */
.icon-chart-pie-3:before { content: '\e88e'; } /* '' */
.icon-chart-pie-alt:before { content: '\e87e'; } /* '' */
.icon-user-5:before { content: '\e891'; } /* '' */
.icon-user-male:before { content: '\e892'; } /* '' */
.icon-user-female:before { content: '\e893'; } /* '' */
.icon-users-3:before { content: '\e894'; } /* '' */
.icon-trash-2:before { content: '\e8a5'; } /* '' */
.icon-check-empty:before { content: '\e823'; } /* '' */
.icon-filter:before { content: '\e825'; } /* '' */
.icon-table:before { content: '\e81e'; } /* '' */
.icon-money:before { content: '\e826'; } /* '' */
.icon-sitemap:before { content: '\e82e'; } /* '' */
.icon-doc-text:before { content: '\e813'; } /* '' */
.icon-folder-empty:before { content: '\e816'; } /* '' */
.icon-folder-open-empty:before { content: '\e817'; } /* '' */
.icon-help:before { content: '\e805'; } /* '' */
.icon-info:before { content: '\e808'; } /* '' */
.icon-attention-alt:before { content: '\e80f'; } /* '' */
.icon-calendar-empty:before { content: '\e81c'; } /* '' */
.icon-doc-inv:before { content: '\e814'; } /* '' */
.icon-doc-text-inv:before { content: '\e815'; } /* '' */
.icon-sort-name-up:before { content: '\e82a'; } /* '' */
.icon-sort-name-down:before { content: '\e82b'; } /* '' */
.icon-sort-alt-up:before { content: '\e828'; } /* '' */
.icon-sort-alt-down:before { content: '\e829'; } /* '' */
.icon-sort-number-up:before { content: '\e82c'; } /* '' */
.icon-sort-number-down:before { content: '\e82d'; } /* '' */
.icon-picture:before { content: '\e878'; } /* '' */
.icon-award:before { content: '\e88b'; } /* '' */
.icon-user-4:before { content: '\e883'; } /* '' */
.icon-user-1:before { content: '\e82f'; } /* '' */
.icon-user-3:before { content: '\e877'; } /* '' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-users-1:before { content: '\e830'; } /* '' */
.icon-user-woman:before { content: '\e884'; } /* '' */
.icon-user-pair:before { content: '\e885'; } /* '' */
.icon-alert:before { content: '\e83c'; } /* '' */
.icon-dollar:before { content: '\e88f'; } /* '' */
.icon-doc:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e81b'; } /* '' */
.icon-chart-1:before { content: '\e88c'; } /* '' */
.icon-chart-line:before { content: '\e843'; } /* '' */
.icon-chart:before { content: '\e870'; } /* '' */
.icon-chart-bar-2:before { content: '\e874'; } /* '' */
.icon-chart-bar-1:before { content: '\e844'; } /* '' */
.icon-chart-bar-4:before { content: '\e88d'; } /* '' */
.icon-chart-bar-3:before { content: '\e87c'; } /* '' */
.icon-chart-bar:before { content: '\e824'; } /* '' */
.icon-attach:before { content: '\e809'; } /* '' */
.icon-newspaper:before { content: '\e83d'; } /* '' */
.icon-search-1:before { content: '\e881'; } /* '' */
.icon-search-2:before { content: '\e882'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-lock-open:before { content: '\e80a'; } /* '' */
.icon-bell:before { content: '\e80e'; } /* '' */
.icon-bell-1:before { content: '\e83a'; } /* '' */
.icon-wrench:before { content: '\e81a'; } /* '' */
.icon-wrench-1:before { content: '\e88a'; } /* '' */
.icon-chart-area:before { content: '\e845'; } /* '' */
.icon-truck:before { content: '\e827'; } /* '' */